@import url('../../style/main.scss');

.Roles-box {
  display: flex;
  flex-flow: column;
  .Roles-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 18px;

    .Roles-descriprion {
      font-size: 1rem;
      color: gray;
    }
    .Roles-add-role {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      padding: 0px 5px;
      .Roles-add-text {
        margin-right: 5px;
      }
      .material-icons {
        font-size: 16px;
      }
    }
  }
  .Roles-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .Roles-role {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 5px;
      color: white;
      background-color: var(--green);
      opacity: 0.5;
      cursor: pointer;
      justify-content: space-between;
      border-radius: 5px;
      font-size: 0.76rem;
      .Roles-role-code {
        font-weight: bold;
        font-size: 0.9rem;
        background-color: var(--light-green);
        border-radius: 5px;
        width: 40px;
        height: 40px;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Roles-role-name {
        width: 114px;
        padding: 0px 5px;
        line-height: 1rem;
      }
    }
    .Roles-role:hover {
      opacity: 1;
    }
  }
}
