@import url("./Reset.css");
@import url("./Colors.css");

body {
  font-family: "Montserrat", "Comfortaa";
  color: var(--black-coral);
  overflow-x: hidden;
  font-family: "Lato", sans-serif;

  a{
    cursor: pointer;
    width: fit-content;
  }
  a:hover {
    border-bottom: solid 1px;
  }
  
  button {
    cursor: pointer;
    opacity: 0.7;
  }
  button:hover {
    opacity: 1;
  }

  .Box-global {
    width: 1024px;
    display: flex;
  }

  .Form-box {
    display: -webkit-flex;
    padding: 20px;
    width: 400px;
    align-items: center;
    flex-flow: column;
    border: 2px solid #839d9c;
    border-radius: 15px;
    color: var(--dark-green);
    .Form-title {
      display: flex;
      flex-flow: column;
      align-items: center;
      position: relative;
      .Form-title-welcome {
        font-size: 3rem;
        padding-top: 20px;
        opacity: 0.5;
      }
      .Form-title-versus {
        font-family: "Exo", sans-serif;
        font-size: 5rem;
        font-weight: bold;
        position: absolute;
        top: 50px;
      }
    }
    .Form-info {
      display: flex;
      flex-flow: column;
      width: 250px;
      font-size: 1rem;
      font-family: "Exo", sans-serif;
      padding-top: 110px;
      label {
        opacity: 0.7;
        margin-bottom: 8px;
      }
      input {
        margin-bottom: 25px;
        border: none;
        border-bottom: solid 1px;
        padding-left: 5px;
        padding-bottom: 3px;
        color: var(--dark-green);
        font-family: "Exo", sans-serif;
        font-weight: bold;
        font-size: 1rem;
      }
      button {
        margin-top: 20px;
        background-color: var(--green);
        padding: 20px;
        border: none;
        border-radius: 25px;
        color: white;
        font-weight: bold;
      }
      .Form-info-button-google {
        background-color: var(--light-green);
      }
    }
    
  }
}
