@import url("./Reset.css");
@import url("./Colors.css");

body {
  font-family: "Montserrat", "Comfortaa";
  color: var(--black-coral);
  overflow-x: hidden;
  font-family: "Lato", sans-serif;

  button {
    cursor: pointer;
    opacity: 0.7;
  }
  button:hover {
    opacity: 1;
  }
  a:hover {
    border-bottom: solid 1px;
  }

  .Box-global {
    width: 1024px;
    display: flex;
  }
}
