@import url('../../style/main.scss');

.Login-box {
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
  height: 800px;
  .Wrap {
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .Form-singup {
    display: flex;
    padding: 60px 0px 30px 0px;
    width: 250px;
    .Form-sigup-link {
      margin-left: 5px;
      color: var(--green);
      cursor: pointer;
      border: solid 1px transparent;
    }
    .Form-sigup-link:hover {
      border: solid 1px var(--green);
    }
  }
}
