@import url('../../style/main.scss');

.RolesOverview-box {
  display: flex;
  flex-flow: column;
  .RolesOverview-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 18px;

    .RolesOverview-descriprion {
      font-size: 1rem;
      color: gray;
    }
    .RolesOverview-add-role {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      padding: 0px 5px;
      .RolesOverview-add-text {
        margin-right: 5px;
      }
      .material-icons {
        font-size: 16px;
      }
    }
  }
  .RolesOverview-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .RolesOverview-role {
      width: 203px;
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 5px;
      color: white;
      background-color: var(--gray);
      cursor: pointer;
      justify-content: space-between;
      border-radius: 5px;
      font-size: 0.76rem;
      .RolesOverview-role-code {
        font-weight: bold;
        font-size: 0.9rem;
        background-color: var(--light-gray);
        border-radius: 5px;
        width: 40px;
        height: 40px;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .RolesOverview-role-name {
        padding: 0px 5px;
        line-height: 1rem;
        width: 70%;
      }
    }
    .RolesOverview-role:hover {
      opacity: 1;
    }
  }
}
