@import url("./../style/Colors.css");

.Signup-box {
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
  height: 800px;
  .Wrap {
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    .Signup-header {
      display: -webkit-flex;
      padding: 20px;  
      width: 400px;
      height: 600px;
      flex-flow: column;
      border: 2px solid #839d9c;
      border-radius: 15px;
      color: var(--dark-green);
      .Signup-header-gettingStarted{
        font-family: "Exo", sans-serif;
        font-size: 3.0rem;
        font-weight: bold;
      }
      .Signup-header-aha{
        margin-top: 10px;
        font-size: 1.2rem;
        opacity: 0.5;
      }
    }
  }
}
