@import url("./../style/main.scss");

.Signup-box {
  display: -webkit-flex;
  flex-flow: column;
  width: 100%;
  height: 800px;
  .Wrap {
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    .Signup-header {
      padding-top: 20px;
      display: flex;
      flex-flow: column;
      .Signup-header-gettingStarted{
        font-family: "Exo", sans-serif;
        font-size: 3.0rem;
        font-weight: bold;
      }
      .Signup-header-aha{
        padding-top: 10px;
        font-size: 1.2rem;
        opacity: 0.7;
      }
    }
    .Form-info {
      padding: 40px 0px 30px 0px;
      width: 343px;
    }
  }
}
